.bodyContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	height: calc(100vh - 50px);
	width: 100vw;
}
.mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-grey-opacity-2);
	backdrop-filter: blur(5px);
	height: 80vh;
	width: 80vw;
	border-radius: 30px;
}
.scrollContainer {
	margin: 3em;
	height: 90%;
	color: var(--text-color);
	overflow-y: scroll;
}
.scrollContainer img {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	width: 300px;
	height: 300px;
}
.name {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding: 1em 0 2em 0;
}
.scrollContainer h1 {
	padding-left: 1.5em;
	font-size: 2.5em;
}
section {
	padding-bottom: 5em;
}
.aboutMeText p {
	font-size: 1.25em;
	padding: 0.3em 3em;
}
/* section p {
	font-size: 1.25em;
	padding-top: 1em;
} */
