/* scroll tabs */
.scrollButton {
	position: fixed;
	top: calc(50vh + 50px - 110px);
	right: 0;
	width: 30px;
	margin-right: 20px;
	justify-content: center;
}
.scrollButton button {
	z-index: 999;
	height: 25px;
	width: 50px;
	border: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	cursor: pointer;
	margin-block: 10px;
	transition: 0.5s ease;
	background-color: #04d3fb36;
	/* background-color: blue; */
}

/* body tabs */

html {
	overflow: hidden;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.scroll-page {
	height: calc(100vh - 50px);
}
.scroll-tab-1,
.scroll-tab-2,
.scroll-tab-3,
.scroll-tab-4 {
	scroll-snap-align: start;
	height: 100%;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.scroll-page .scroll-tab-4 {
	height: calc(100vh - 50px - 113px);
}
.scroll-tab-1,
.scroll-tab-2,
.scroll-tab-3,
.scroll-tab-4 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.scroll-page .tab-1-container {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 2.5em;
}
.tab-1-container,
.tab-2-container,
.tab-3-container,
.tab-4-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: var(--dark-grey-opacity-1);
	backdrop-filter: blur(5px);
	padding: 4em;
	border-radius: 30px;
	color: var(--text-color);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.tab-1-container,
.tab-2-container,
.tab-3-container,
.tab-4-container {
	width: 60vw;
}
.tab-1-container h1 {
	font-size: 2.5em;
}
.tab-1-container h2 {
	padding-top: 1em;
	font-size: 1.75em;
}
.tab-2-container h1,
.tab-3-container h1 {
	font-size: 2em;
	padding-bottom: 0.5em;
}
.tab-1-container p,
.tab-2-container p,
.tab-3-container p,
.tab-4-container p {
	font-size: 1em;
}
.scroll-tab-1 img {
	display: block;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin-right: 30px;
}
/* tab 2 */
.tab-2-container a {
	text-decoration: underline;
	color: var(--text-color);
}
/* tab 3 */
/* .tab-3-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 1fr 1fr;
} */

/* tab 3 content */

/* changelog tab */
.changelogContainer {
	height: 200px;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
.tab-4-container h1 {
	font-size: 2em;
}

/* sort menu */
.sortMenu {
	margin-top: 1.5em;
	margin-bottom: 0.75em;
	display: flex;
	align-items: center;
}
/* Style for the changelogSortMenu container */
.changelogSortMenu {
	position: relative;
	display: inline-block;
}

/* Style for the custom-date-select container */
.custom-date-select {
	position: relative;
	display: inline-block;
}
.sortMenu p {
	padding: 12px 10px 9px;
	background-color: var(--light-cyan);
	border: 1px solid var(--light-cyan);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #000;
	height: 45px;
	box-sizing: border-box;
}
/* Style for the select tag */
.date-selected {
	box-sizing: border-box;
	height: 45px;
	width: 175px;
	border-top: 1px solid var(--light-cyan);
	border-right: 1px solid var(--light-cyan);
	border-bottom: 1px solid var(--light-cyan);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--dark-grey-opacity-1);
	color: var(--text-color);
	appearance: none; /* Remove default arrow */
	-webkit-appearance: none; /* Remove default arrow for Safari */
	-moz-appearance: none; /* Remove default arrow for Firefox */
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*
.date-selected::after {
	content: "▼";
	font-size: 1em;
	color: var(--text-color);
	margin-left: 20px;
}
*/
/* Style for the select tag when focused */
.custom-date-select select:focus {
	border-color: #66afe9;
	outline: none;
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Style for the option tag */
.custom-date-select select option {
	background-color: #fff;
	color: #333;
	padding: 10px;
}

/* Style for the option tag when hovered */
.custom-date-select select option:hover {
	background-color: #66afe9;
	color: #fff;
}

/* Hide the original select element */
.custom-date-select select {
	display: none;
}

/* Style for the custom dropdown menu */
.custom-dropdown {
	display: none;
	position: absolute;
	background-color: var(--cyan);
	border: 1px solid var(--dark-cyan);
	border-radius: 10px;
	/* width: 100px; */
	/* padding: 10px 0 10px 20px; */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	overflow: hidden;
}

/* Style for the custom dropdown items */
.custom-dropdown-item {
	box-sizing: border-box;
	width: 175px;
	padding: 10px 0 10px 20px;
	cursor: pointer;
	color: #000;
	display: flex;
	align-items: center;
	transition: 0.3s;
}

/* Style for the custom dropdown items on hover */
.custom-dropdown-item:hover {
	background-color: var(--dark-cyan);
	color: var(--text-color);
}

.changelogDate {
	scroll-snap-align: start;
}
.changelogContainer ul {
	list-style-type: disc;
	padding-left: 20px;
	padding-top: 0.5em;
	padding-bottom: 2em;
}

/* footer */
footer {
	scroll-snap-align: end;
	background-color: var(--dark-grey-opacity-2);
	backdrop-filter: blur(5px);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.contact-info {
	font-size: 1.2em;
	padding: 10px 0;
}
.contact-info a {
	color: var(--text-color);
	text-decoration: underline;
}
.personal-links a {
	text-decoration: none;
}
.personal-links img {
	height: 1.5em;
	width: 1.5em;
	margin: 10px 5px 10px;
	fill: white;
}
/* phone design */
@media screen and (max-width: 1115px) {
	/* remake nav-bar from top to bottom */

	/* tab adjustment */
	.tab-1-container,
	.tab-2-container,
	.tab-3-container,
	.tab-4-container {
		width: 60vw;
	}
	.tab-1-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--dark-grey-opacity-1);
		backdrop-filter: blur(5px);
		padding: 2.5em;
		border-radius: 30px;
		color: var(--text-color);
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	}
	.tab-1-container h1 {
		margin-top: 40px;
		font-size: 2em;
	}
	.scroll-tab-1 img {
		display: block;
		height: 250px;
		width: 250px;
		border-radius: 50%;
		margin-inline: 1em;
	}
	.tab-1-container h2 {
		padding-top: 1em;
		font-size: 1.5em;
	}
	.tab-1-container p,
	.tab-2-container p,
	.tab-3-container p,
	.tab-4-container p {
		font-size: 1em;
	}
	.tab-2-container,
	.tab-3-container,
	.tab-4-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: var(--dark-grey-opacity-1);
		backdrop-filter: blur(5px);
		padding: 2.5em;
		border-radius: 30px;
		color: var(--text-color);
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	}
}
