/* make a grid layout for the projects.
cards should be scrollable horizontally.
content is in the center of the card. */
.projectOverview {
	/* border: 1px solid red; */
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 1em;
	padding-top: calc(50px + 1em);
	padding-bottom: calc(30px + 1em);
	width: calc(100vw - 2em);
	height: calc(100vh - 80px - 2em);
	margin: 0 1em;
	scroll-snap-type: x mandatory;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
}
.projectCard {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr 1fr;
	box-sizing: border-box;
	padding: 2em;

	background-color: var(--dark-grey-opacity-1);
	backdrop-filter: blur(5px);
	border-radius: 30px;
	color: var(--text-color);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	width: calc((100vw - 3em) / 2);
	height: calc((100vh - 80px - 2em) / 2);
	scroll-snap-align: start;
}
.projectCard-1,
.projectCard-2,
.projectCard-5,
.projectCard-6 {
	grid-row: 1;
}

.projectCard img {
	border-radius: 20px;
	height: 95%;
	width: 100%;
	object-fit: cover;
	grid-row: 1 / span 2;
	grid-column: 1;
}
.projectCard h1 {
	grid-row: 2;
	grid-column: 1 / span 2;
	text-align: center;
}
.projectCard p {
	padding: 0 2em;
	grid-row: 1;
	grid-column: 2;
}
