/* scroll tabs */
.scrollButton {
	position: fixed;
	top: calc(50vh + 50px - 110px);
	right: 0;
	width: 30px;
	margin-right: 20px;
	justify-content: center;
}
.scrollButton button {
	z-index: 999;
	height: 25px;
	width: 50px;
	border: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	cursor: pointer;
	margin-block: 10px;
	transition: 0.5s ease;
	background-color: #04d3fb36;
	/* background-color: blue; */
}

/* body tabs */

html {
	overflow: hidden;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.scroll-page {
	height: calc(100vh - 50px);
}
.scroll-tab-1,
.scroll-tab-2,
.scroll-tab-3 {
	scroll-snap-align: start;
	height: 100%;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.scroll-tab-4 {
	scroll-snap-align: start;
	height: calc(100vh - 50px - 113px);
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.scroll-tab-1,
.scroll-tab-2,
.scroll-tab-3,
.scroll-tab-4 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tab-1-container {
	display: flex;
	align-items: center;
	background-color: var(--dark-grey-opacity-1);
	backdrop-filter: blur(5px);
	padding: 2.5em;
	border-radius: 30px;
	color: var(--text-color);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.tab-2-container,
.tab-3-container,
.tab-4-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: var(--dark-grey-opacity-1);
	backdrop-filter: blur(5px);
	padding: 4em;
	border-radius: 30px;
	color: var(--text-color);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.tab-1-container,
.tab-2-container,
.tab-3-container,
.tab-4-container {
	width: 60vw;
}
.tab-1-container h1 {
	font-size: 2.5em;
}
.tab-1-container h2 {
	padding-top: 1em;
	font-size: 1.75em;
}
.tab-2-container h1,
.tab-3-container h1,
.tab-4-container h1 {
	font-size: 2em;
	padding-bottom: 0.5em;
}
.tab-1-container p,
.tab-2-container p,
.tab-3-container p,
.tab-4-container p {
	font-size: 1em;
}
.scroll-tab-1 img {
	display: block;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin-right: 30px;
}

/* changelog tab */
.changelog {
	height: 200px;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
.changelogDate {
	scroll-snap-align: start;
}
.changelog ul {
	list-style-type: disc;
	padding-left: 20px;
	padding-top: 0.5em;
	padding-bottom: 2em;
}

/* footer */
footer {
	scroll-snap-align: end;
	background-color: var(--dark-grey-opacity-2);
	backdrop-filter: blur(5px);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.contact-info {
	font-size: 1.2em;
	padding: 10px 0;
}
.personal-links a {
	text-decoration: none;
}
.personal-links img {
	height: 1.5em;
	width: 1.5em;
	margin: 10px 5px 10px;
	fill: white;
}

/* phone design */
@media screen and (max-width: 1115px) {
	/* remake nav-bar from top to bottom */

	/* tab adjustment */
	.tab-1-container,
	.tab-2-container,
	.tab-3-container,
	.tab-4-container {
		width: 60vw;
	}
	.tab-1-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--dark-grey-opacity-1);
		backdrop-filter: blur(5px);
		padding: 2.5em;
		border-radius: 30px;
		color: var(--text-color);
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	}
	.tab-1-container h1 {
		margin-top: 40px;
		font-size: 2em;
	}
	.scroll-tab-1 img {
		display: block;
		height: 250px;
		width: 250px;
		border-radius: 50%;
		margin-inline: 1em;
	}
	.tab-1-container h2 {
		padding-top: 1em;
		font-size: 1.5em;
	}
	.tab-1-container p,
	.tab-2-container p,
	.tab-3-container p,
	.tab-4-container p {
		font-size: 1em;
	}
	.tab-2-container,
	.tab-3-container,
	.tab-4-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: var(--dark-grey-opacity-1);
		backdrop-filter: blur(5px);
		padding: 2.5em;
		border-radius: 30px;
		color: var(--text-color);
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	}
}
