.WIP-container {
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WIP h1 {
    color: var(--text-color);
    font-size: 5em;
    background-color: var(--dark-grey-opacity-1);
    backdrop-filter: blur(5px);
    padding: 2em;
    border-radius: 1em;
}
